<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html;
		charset=windows-1252">
		<TITLE>KiCad Project ARM Template</TITLE>
	</HEAD>
	<BODY LANG="en-US" DIR="LTR">
		<P>This project template is the basis of my ARM projects.
		<BR><BR>The base project <b>schematic</b> includes:
		<ul>
			<li>The &quot;BrechtVE&#95;Aesthetics&quot;, &quot;BrechtVE&#95;DebugHeader&quot; and &quot;Sparkfun-PowerSymbols&quot; symbol libraries</li>
			<li>The CERN OHL v. 1.2. page layout</li>
			<li>The OSH logo</li>
			<li>Four M3 holes</li>
			<li>A modified 0.05&quot; 2x05 ARM Cortex-M SWD header with added UART functionality</li>
			<li>A TagConnect 2050 programming header for the same SWD/UART functionality</li>
			<li>A 100 k&#8486; pullup resistor on SWDIO</li>
			<li>A 4-pin 0.1&quot; UART header with 100 &#8486; inline current limiting resistors and a 10 k&#8486; pullup resistor on RXD</li>
			<li>A reset button with a 100 &#8486; current limiting resistor to GND, 1 k&#8486; pullup resistor and 100 nF debounce capacitor</li>
			<li>PWR flags</li>
		</ul>
		<BR><BR>
		The base project <b>PCB layout</b> includes:
		<ul>
			<li>The &quot;BrechtVE&#95;Aesthetics&quot; and &quot;SparkfunConnectors&quot; footprint libraries</li>
			<li>The default Text &amp; Graphics settings</li>
			<li>Modified design rules for the Net Classes, Tracks &amp; Vias and Solder Mask/Paste </li>
		</ul>
		<BR><BR>
		<P>(C) 2021 Brecht Van Eeckhoudt<BR>(C) 2012 KiCad Developers</P>
	</BODY>
</HTML>